@page
@model ProyectoAsignatura181G0138.Pages.LoginModel
@{
}

<html>
<head>
    <title>Iniciar sesión</title>
    <link href="~/estiloss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyLogin">
    <header>
        <h1>Iniciar sesión</h1>
    </header>

    <main>

        <div class="login">
            <input class="btnUser" type="text" placeholder="Correo" required />

            <input class="btnPassword" type="password" placeholder="Contraseña" required />

            <a class="btnEntrar" href="/Student">Entrar</a>
        </div>
    </main>

    <footer>
        <div>
            <img src="~/img/logoBlanco_WEB.jpg" />
            <h5>TECNM Región Carbonífera</h5>
        </div>
    </footer>
</body>
</html>