@page
@model ProyectoAsignatura181G0138.Pages.ReceiveModel
@{
}



<html>
<head>
    <title>Bienvenido alumno</title>
    <link href="~/estiloss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyInicio">
    <header>
        <h1>¡Bienvenido (a), Héctor!</h1>

        <div>
             <img src="~/img/Imagen1.png" />
          <nav>
            <ul class="options">
                                <li><a href="/Administrative">Recibidos</a></li>
                <li><a href="/Sent">Enviados</a></li>
                <li><a href="/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
        </div>

    </header>

    <main>
        <div class="navMessages">
            <p>Revisa los mensajes que has enviado</p>
        </div>


        <section class="messages">
            <div>

                <div>

                                    <label>Para: Dirección académica</label>

                    <div class="crud">
             <img src="~/img/editar.png" />
             <img src="~/img/basura.png" />
                    </div>
                </div>

                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>

              <div>

                <div>

                                    <label>Para: Dirección académica</label>

                    <div class="crud">
             <img src="~/img/editar.png" />
             <img src="~/img/basura.png" />
                    </div>
                </div>

                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>

              <div>

                <div>

                                    <label>Para: Dirección académica</label>

                    <div class="crud">
             <img src="~/img/editar.png" />
             <img src="~/img/basura.png" />
                    </div>
                </div>

                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>

              <div>

                <div>

                                    <label>Para: Dirección académica</label>

                    <div class="crud">
             <img src="~/img/editar.png" />
             <img src="~/img/basura.png" />
                    </div>
                </div>

                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>

              <div>

                <div>

                                    <label>Para: Dirección académica</label>

                    <div class="crud">
             <img src="~/img/editar.png" />
             <img src="~/img/basura.png" />
                    </div>
                </div>

                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
           
        </section>

        <a href="#" class="btn-flotante">+</a>

    </main>


    <div class="modal">

            <form>
                <h4>Detalles del mensaje</h4>

               <div>
                    <label>Para:</label>
                    <select >
                    <option>9.1G</option>
                    <option>7.2G</option>
            </select>
            </div>

            <label>Mensaje:</label>

            <textarea> </textarea>

            <div>
                 <input type="submit" value="Enviar" />
                    <a href="/Sent" >X Cerrar</a>
                </div>



        </form>

    </div>

      <div class="modal seeMessage">

            <form>
                <h4>Detalles del mensaje</h4>

               <div>
                    <label>Para:</label>
                    <label>9.2G</label>
            </div>

            <label>Mensaje:</label>

 <p>Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
            <div>
                    <a href="/Sent" >X Cerrar</a>
                </div>



        </form>

    </div>

    <script>
    var modal = document.querySelector(".modal");
    var btnFlotante = document.querySelector(".btn-flotante");
    var options = document.querySelector("header div img");
    var menu = document.querySelector(".options");
        var modalMessage = document.querySelector(".seeMessage");

    btnFlotante.addEventListener("click", function(){
        modal.style.top=0;
    });

    options.addEventListener("click", function(){
        if(menu.style.display!="block"){
                    menu.style.display="block";
        }
                else{
                    menu.style.display="none";
        }
    });

     var message = document.querySelector(".messages div");

    message.addEventListener("click", function(){
        modalMessage.style.top=0;
    });
    </script>


</body>
</html>