@page
@model ProyectoAsignatura181G0138.Pages.StudentModel
@{
}


<html>
<head>
    <title>Bienvenido alumno</title>
    <link href="~/estiloss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyInicio">
    <header>
        <h1>¡Bienvenido (a), Karla!</h1>
        <img src="~/img/Imagen1.png" />
    </header>

    <main>
        <div class="navMessages">
            <p>Revisa tus nuevos mensajes</p>

            <div>
                <a href="#">Hoy</a>
                <a href="#">Ayer</a>
                <a href="#">Todos</a>
            </div>


            <div>
                <p>Grupo:</p>
                <select>
                    <option>9.1G</option>
                    <option>7.2G</option>
                </select>
            </div>
        </div>


        <section class="messages">
            <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
             <div>
                <label>De: Dirección académica</label>
                <p>Mensaje: Por motivo de graduación, jueves 28 de octubre se suspenden clases en general...</p>
                <label>28/10/2022 12:55pm</label>
            </div>
        </section>

    </main>


</body>
</html>