
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: #00a86b;*/
}

.bodyLogin {
    background-image: url(../img/fd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

:root {
    --primary-color: #00a86b;
}

/*LOGIN*/
.bodyLogin header h1 {
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 30px;
    font-size: 2em;
}

main .login {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btnUser, .btnPassword, .btnEntrar {
    width: 40vw;
    border-width: 0;
    box-shadow: 0 1px 0 1px rgba(45, 44, 44, 0.32);
    background-color: white;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-origin: content-box;
    text-align: center;
    align-self: center;
    margin-bottom: 1em;
    padding: 10px 10px;
    font-size: 1em;
}

.btnPassword {
    background-image: url(../img/pass.png);
}

.btnEntrar {
    background-image: none;
    margin-top: 1.5em;
    width: 20vw;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

footer div img {
    height: 5vh;
    align-self: center;
    margin: 10px;
}

footer div h5 {
    color: gray;
    font-weight: 300;
    font-size: 1em;
    align-self: center;
}

footer div {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*INICIO*/
.bodyInicio {
    padding: 0;
    margin: 0;
}

    .bodyInicio header {
        background-color: var(--primary-color);
        height: 10%;
        padding-left: 3%;
        color: white;
        text-align: left;
        font-size: .8em;
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    }
    .bodyInicio img{
        height:40px;
        align-self:center;
        margin:0 20px;
        cursor:pointer;
    }
    .bodyInicio main {
        background-color: white;
    }

.navMessages {
    color: gray;
    display: flex;
    flex-direction: column;
}

    .navMessages p:first-child {
        margin-left: 40px;
    }

    .navMessages div {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

        .navMessages div a {
            text-decoration: none;
            display: block;
            padding: 10px;
            background-color: var(--primary-color);
            color: white;
            width: 30vw;
            margin-left: 10px;
            text-align: center;
            margin-bottom: 15px;
        }

            .navMessages div a:first-child {
                border-bottom-left-radius: 100px;
                border-top-left-radius: 100px;
            }

            .navMessages div a:last-child {
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            }

        .navMessages div select {
            width: 10vw;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid;
            border-color: gray;
            outline: 0;
            box-shadow: none;
            text-align: center;
            color: gray;
        }


.messages div {
    background-color: #D3D3D3;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #696969;
    display: flex;
    flex-direction: column;
}

    .messages div label:last-child {
        text-align: right;
        align-self: end;
        font-size: .8em;
    }



/*RESPONSIVE*/
@media screen and (max-width: 560px) and (max-height:940px) {
    header h1 {
        font-size: 1.8em;
        padding: 0;
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .btnUser, .btnPassword {
        width: 75vw;
    }

    .btnEntrar {
        width: 40vw;
    }


    .bodyInicio header {
        height: 8%;
        padding-top: 0px;
    }
    .bodyInicio header h1{
        margin-top:0;
    }
    .bodyInicio header img{
        height:30px;
    }
    .navMessages div a {
        width: 20vw;
    }
    .navMessages div:last-child {
        margin-left:10px;
    }
    .navMessages div:last-child select{
        width:30vw;
    }
    .navMessages div a:first-child {
        margin-left: 0;
    }

    .messages div{
        margin:0 30px 10px 30px;
    }
}
